<ion-content color="medium">
  <!-- Welcome Section -->
  <ion-header>
    <ion-toolbar color="primary">
      <div style="text-align: center; width: 100%;">
        <h2 style="color: white; font-size: 24px;">Scanning</h2>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="background-image-container">
    <img src="/assets/SCANNING.png" alt="Scanning Background" class="full-screen-image" />
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camera</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
